:root {
  --base: #5e5690;
  --base-light: #7873a7;
  --base-dark: #555184;
  --shadow: #4f4c6b;
  --letter: #d8d7e5;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  perspective: 600px;
}

.shadow {
  position: absolute;
  width: 300px;
  height: 1px;
  background: transparent;
  border-radius: 30%;
  box-shadow: 50px 65px 10px 5px #eeeef3;
}

.letter {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  border-radius: 2px;
  background: var(--letter);
  box-shadow: 0px 1px 7px -2px var(--base);
  transform: translate(13px, -9.5px);
}
.letter .body {
  position: relative;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base);
  margin-left: 69px;
}
.letter .body .close {
  position: absolute;
  right: 8px;
  top: -49px;
  font-size: 16px;
  font-family: 'Manjari', sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: crimson;
}
.letter .body .message {
  font-size: 5px;
  font-weight: 100;
  text-align: left;
  margin-bottom: auto;
  margin-right: auto;
  font-family: 'Great Vibes', cursive;
}

.envelope {
  position: relative;
  width: 400px;
  height: 240px;
  background: linear-gradient(#cccbd7 0.5px, var(--base-light) 0.5px);
  cursor: pointer;
}

.envelope::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  border-top: 155px solid #7873a7;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  box-sizing: border-box;
  z-index: 30;
  transform-origin: top;
}

.envelope::after {
  content: '';
  position: absolute;
  top: 0;
  width: 400px;
  height: 250px;
  z-index: 25;
  background: linear-gradient(
        30deg,
        var(--base-dark) 47%,
        var(--shadow) 50%,
        var(--base) 50%
      )
      200px 129px/200px 124px no-repeat,
    linear-gradient(31deg, var(--base) 49%, var(--shadow) 50%, transparent 50%)
      0px -7px/200px 136px no-repeat,
    linear-gradient(
        150deg,
        var(--base) 50%,
        var(--shadow) 50%,
        var(--base-dark) 53%
      )
      0px 129px/200px 124px no-repeat,
    linear-gradient(
        148.7deg,
        transparent 50%,
        var(--shadow) 50%,
        var(--base) 51%
      )
      200px -6px/200px 135px no-repeat;
}
